
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
      <style>
        .jumbotron-fluid{
          height: 700px;
        }
        </style>
      <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    </head>
    <body>
     
  
      <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <img src="" alt="">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto" style="padding-left: 400px;">
              <li class="nav-item active">
                <a class="nav-link" href="#" style="padding-left: 50px;">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="padding-left: 50px;">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="padding-left: 50px;">Agent Login</a>
              </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
              <a href="" style="margin-right: 50px; " >sign up</a>
              <a href="">Login</a>
            </form>
          </div>
        </nav>
      </header>
  
      <main role="main">
  
        <div class="jumbotron jumbotron-fluid">
          <div>
            <h1 class="display-5" style="color:white ;" >Welcome to BOOK YOUR TRAIN</h1>
            <p class="lead" style="color: whitesmoke;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              <br>Praesentium, amet. Dolor nobis repellat eos aspernatur voluptates</p>
          </div>
        </div>
      <!-- CARD   -->
      <div class="row" style="margin-top: 5rem; margin-bottom: 5rem;">
        <div class="col-lg-3">
        <app-card></app-card>
        </div>
        <div class="col-lg-3">
         <app-card></app-card>
        </div>
        <div class="col-lg-3">
         <app-card></app-card>
        </div>
        <div class="col-lg-3">
          <app-card></app-card>
          </div>
          <div class="col-lg-3">
           <app-card></app-card>
          </div>
          <div class="col-lg-3">
           <app-card></app-card>
          </div>
          <div class="col-lg-3">
            <app-card></app-card>
           </div>
           <div class="col-lg-3">
            <app-card></app-card>
           </div>
      </div>
  
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
  
        <div class="container marketing">

          <div class="row">
            <div class="col-lg-4">
             <app-heading></app-heading>
            </div>
            <div class="col-lg-4">
              <app-heading></app-heading>
            </div>
            <div class="col-lg-4">
              <app-heading></app-heading>
            </div>
          </div>
  
  
          <!-- START THE FEATURETTES -->
  
          <hr class="featurette-divider">
  
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
              <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
          </div>
  
          <hr class="featurette-divider">
  
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
              <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
          </div>
  
          <hr class="featurette-divider">
  
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
              <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
          </div>
  
          <hr class="featurette-divider">
  
          <!-- /END THE FEATURETTES -->
  
        </div><!-- /.container -->
  
  
        <!-- FOOTER -->
        <app-footer></app-footer>
      </main>
    </body>

