    
        
    
        <main role="main" >
          <app-header></app-header>
          
          <div class="jumbotron jumbotron-fluid">
            <div>
              <h1 class="display-5" style="color:white;margin-top: 50px;margin-left: 2rem;" >Welcome to BOOK YOUR TRAIN</h1>
              <p class="lead" style="color: whitesmoke; margin-left: 2rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <br>Praesentium, amet. Dolor nobis repellat eos aspernatur voluptates</p>
            </div>
          </div>
  
  
        <!-- CARD   -->
          <app-card></app-card>
          
       
    
          <div class="container marketing" style="margin-top: 70px;">
  
            <div class="row">
              <div class="col-lg-4">
               <app-heading></app-heading>
              </div>
              <div class="col-lg-4">
                <app-heading></app-heading>
              </div>
              <div class="col-lg-4">
                <app-heading></app-heading>
              </div>
            </div>
    
            <hr class="featurette-divider">
    
          </div><!-- /.container -->
    
    
          <!-- FOOTER -->
          <app-footer></app-footer>
        </main>
  
  