<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              Book Your Train Ticket <br />
              <span class="text-primary">for your Journey</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eveniet, itaque accusantium odio, soluta, corrupti aliquam
              quibusdam tempora at cupiditate quis eum maiores libero
              veritatis? Dicta facilis sint aliquid ipsum atque?
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form #useForm="ngForm" name="myForm" (ngSubmit)="onSubmit()">
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label  class="text-black">Journey Type :</label>
                          <select style="margin-left:10px;" class="bg-white text-black travel2" 
                          name="type" [(ngModel)]="bookingModel.type"
                          #type="ngModel" [class.is-invalid] = "type.invalid && type.touched"
                          >
                            <option>Select Journey Type </option>
                            <option>One Way</option>
                            <option>Return</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                         <label  class="text-black">From City:</label>
                         <input type="text" style=" margin-left: 10px;"
                            [(ngModel)]="bookingModel.from"
                            name="from"
                            autocomplete="off"
                          placeholder="Enter From City Name" class="input bg-white">
                         <label style=" margin-left: 10px;" class="text-black">To City :</label>
                         <input type="text" style=" margin-left: 10px;" 
                         [(ngModel)]="bookingModel.to"
                            name="to"
                            autocomplete="off"
                           placeholder="Enter To City Name" class="input bg-white"><br>
                      </div>
                    </div>
                  </div>
  
                  <!--  input -->
                  <div class="form-outline mb-4">
                    <label class="text-black">Depart</label>
                        <input type="date" style=" margin-left: 10px;" 
                        [(ngModel)]="bookingModel.depart"
                        name="depart"
                        class="tarikh bg-white text-black">
                        <label class="text-black" style="margin-left:10px;">Return</label>
                        <input type="date" style=" margin-left: 10px;" 
                        [(ngModel)]="bookingModel.retirn"
                        name="retirn"
                         class="tarikh bg-white text-black">
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <label class="text-black">Adults</label>
                    <input type="number" style="margin-left:10px;" 
                    [(ngModel)]="bookingModel.adult"
                    autocomplete="off"
                    name="adult"
                    class="bg-white person" placeholder=" No. of Adults">
                    <label class="text-black" style="margin-left:10px;">Children</label>
                    <input type="number" style="margin-left:10px;"
                    autocomplete="off"
                    [(ngModel)]="bookingModel.children"
                    name="children"
                     class="bg-white person" placeholder=" No. of Children"><br>
                  </div>
                  
                  <div class="form-outline mb-4">
                    <label class="text-black travel" >Travel Class</label>
                    <select style="margin-left:10px;" class="bg-white text-black travel2" name="travelClass" [(ngModel)]="bookingModel.travelClass">
                        <option>Select Travel Class</option>
                        <option>First Class/1A</option>
                        <option>AC 2tier/2A</option>
                        <option>AC 3tier/3A</option>
                        <option>Economy Class</option>
                        <option>AC Chair Car</option>
                        <option>Sleeper Class</option>
                        <option>Second Class</option>
                        <option>General</option>
                    </select>
            <br>
                  </div>
  
                  
                  <!-- Submit button -->

                  <input routerLink="" value="Back to Home"  routerLink=""  style="margin-right: 10px;" class="btn btn-outline-dark"> 
                  <input type="submit"  value="Book a Train Ticket" style="margin-left: 10px;" class="btn btn-outline-primary">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->